[[redirects]]
  from = "/assets/*"
  to = "/assets/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  conditions = {path = ["!/*.js", "!/*.css", "!/*.png", "!/*.jpg", "!/*.jpeg", "!/*.svg", "!/*.ico", "!/*.mp4", "!/*.webp", "!/*.woff", "!/*.woff2", "!/*.ttf", "!/*.eot", "!/assets/*"]}
